{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">About Me</h2>
        <p class="card-text">Hello! I'm Oluwayomi Daniel, a data scientist with a deep passion for transforming data into impactful insights. With a strong foundation in data analysis, machine learning, and predictive modeling, I enjoy uncovering patterns and telling stories through data. I’m skilled in Python and well-versed in statistical analysis, which allows me to extract valuable insights that help organizations make informed, data-driven decisions.

I’m dedicated to continuous learning, staying current with the latest in data science and technology. Whether collaborating within a team or working independently, I strive to bring precision, creativity, and clarity to every project I undertake. Let’s connect and explore how data can drive success!</p>
    </div>
</div>
{% endblock %}
