{% extends "base.html" %}
{% block title %}My Projects{% endblock %}
{% block content %}
<h2 class="mb-4">My Projects</h2>
<div class="list-group">
    <a href="https://github.com/Yomex139/BlogPost_Project" class="list-group-item list-group-item-action">Project 1 - Blog Post.</a>
    <a href="https://github.com/Yomex139/Dog-Breed-base-on-image-classification" class="list-group-item list-group-item-action">Project 2 - Dog-Breed-base-on-image-classification .</a>
    <a href="https://github.com/Yomex139/Food-Vision" class="list-group-item list-group-item-action">Project 3 - Food-Vision.</a>
    <a href="https://github.com/Yomex139/Rock_Paper_Scissors-project" class="list-group-item list-group-item-action">Project 4 - Rock_Paper_Scissors using tensorflow.</a>
    <a href="https://github.com/Yomex139/Beans_dataset-project" class="list-group-item list-group-item-action">Project 5 - Beans disease detections using tensorflow.</a>
    <a href="https://github.com/Yomex139/Cassava-disease-dataset" class="list-group-item list-group-item-action">Project 6 - Cassava disease detection using deep learning.</a>
    <a href="https://github.com/Yomex139/Dog-Breed-base-on-image-classification" class="list-group-item list-group-item-action">Project 7 - Dog Breed base on image classification.</a>
</div>
{% endblock %}
